config:
  namespace: argocd

argo-cd:
  configs:
    timeout:
      reconciliation: 10s
    styles: |
      .sidebar {
        background: linear-gradient(to bottom, #149431,#30303d,#30303d);
      }  
  server:
    ingress:
      enabled: true
      annotations: 
        kubernetes.io/ingress.class: nginx
        cert-manager.io/cluster-issuer: letsencrypt-cluster-issuer
        nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
        nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
      hosts: 
        - argocd.argouniverse.com
      tls: 
        - secretName: issuer-letsencrypt
          hosts:
            - argocd.argouniverse.com